::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--layer);
    border-radius: 0.3rem;
}

code {
    padding: 0 0.2rem;
    border-radius: 0.4rem;
    background: var(--layer);
}

a.elem, div.elem {
    border-radius: 0.5rem;
}

div.content div .elem {
    background: var(--layer);
}

div.sidebar div .elem.green {
    background: #44bb441a;
}

div.sidebar div .elem.red {
    background: #dd44441a;
}

div.nav {
    background-color: var(--layer);
    border-radius: 0.5rem;
}

div.sidebar {
    border-radius: 0.5rem;
    background: var(--layer);
}

div.buttons a {
    background: var(--layer);
}

a.red, div.red, div.buttons a.red {
    background: #dd44441a;
}

div.content div .elem.red {
    background: #dd44441a;
    color: #dd4444;
}

a.green, div.green, div.buttons a.green {
    background: #44bb441a;
}

div.content div .elem.green {
    background: #44bb441a;
    color: #44bb44;
}

textarea, textarea:active, textarea:focus,
span.textarea, span.textarea:active, span.textarea:focus,
input, input:active, input:focus {
    background: transparent;
}

input[type="file"]::file-selector-button {
    background: var(--layer);
}

label {
    background: transparent;
}

select, select:active, select:focus {
    background: var(--layer);
}