::-webkit-scrollbar-track {
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--background);
    border-radius: 0.3rem;
    box-shadow: inset 0 0 0.2rem 0 var(--theme);
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0.4rem 0 var(--theme);
}

code {
    padding: 0.1rem 0.2rem;
    border-radius: 0.4rem;
    box-shadow: 0 0.15rem 0.2rem -0.1rem var(--shadow);
}

a.elem, div.elem {
    box-shadow: 0 0 0.25rem 0 var(--shadow);
    border-radius: 0.5rem;
}

div.sidebar div .elem {
    box-shadow: 0 0.25rem 0.25rem -0.25rem var(--shadow);
}

div.sidebar div .elem.green {
    box-shadow: 0 0.25rem 0.25rem -0.25rem #44bb44;
}

div.sidebar div .elem.red {
    box-shadow: 0 0.25rem 0.25rem -0.25rem #dd4444;
}

div.nav {
    box-shadow: 0 0 0.25rem 0 var(--theme);
    background-color: var(--navbg);
    border-radius: 0.5rem;
}

div.sidebar {
    box-shadow: 0 0 0.25rem 0 var(--shadow);
    border-radius: 0.5rem;
}

div.buttons a {
    box-shadow: 0 0 0.25rem 0 var(--shadow);
}

a.red, div.red, div.buttons a.red {
    box-shadow: 0 0 0.25rem 0 #dd4444;
}

a.green, div.green, div.buttons a.green {
    box-shadow: 0 0 0.25rem 0 #44bb44;
}

textarea, textarea:active, textarea:focus,
span.textarea, span.textarea:active, span.textarea:focus,
input, input:active, input:focus {
    background: var(--background);
}

img {
    box-shadow: 0 0 0.25rem 0 var(--shadow);
}

input[type="file"]::file-selector-button {
    background-color: transparent;
    box-shadow: 0 0 0.25rem 0 var(--shadow);
}

label {
    background: var(--background);
}

select, select:active, select:focus {
    background: transparent;
    box-shadow: 0 0 0.25rem 0 var(--shadow);
}