@font-face {
    font-family: 'oxygen-mono';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('[PATH_PREFIX]/fonts/oxygen-mono.woff2') format('woff2'), url('[PATH_PREFIX]/fonts/oxygen-mono.woff') format('woff'), url('[PATH_PREFIX]/fonts/oxygen-mono.ttf') format('truetype'), url('[PATH_PREFIX]/fonts/oxygen-mono.otf') format('otf'), url('[PATH_PREFIX]/fonts/oxygen-mono.eot') format('embedded-opentype'), url('[PATH_PREFIX]/fonts/oxygen-mono.svg') format('svg');
    unicode-range: U+000-5FF;
}
